@charset "UTF-8";

/*  Hier ist alles, was (nahezu) alle Seiten (inklusive) Templates gleichhaben

    1. Generelle Inforamtion zu Objekten
    2. Headline mit 3D-Effekt
    3. Navigations-Bar
    4. Tabellenformatierung */

/* General */
h1, h2, p, ul, table, button {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

div { margin-top: 1%; }

table { width: 99%; }

input, select { width: 100%; }


/* Div: Headline */
h1, h2 {
    font-weight: bold;
    color: gray;
}

h1 { text-shadow: 0 2px lightgray; }

h2 { text-shadow: 0 1px lightgray; }


/* Div: Navbar */
.ul--navbar {
    display: flex;
    padding-left: 0;
}

.ul--navbar:hover .li--navbar:not(:hover) { opacity: 0.5; }

.li--navbar {
    list-style-type: none;
    margin: 0;
    padding: 0 0.75rem;
    transition: opacity 0.2s;
    border-left: 2px solid #d2d5e4;
}

.li--navbar:last-child { border-right: 2px solid #d2d5e4; }

a {
    color: black;
    text-decoration: none;
}


/*
    Div: Failure (ausklappbar)
*/
.div--failure {
    transition: max-height 0.5s;
    overflow: hidden;
    max-height: 0;
}


/* Alles für die Tabellen */
table, th, td { border: 1px solid gray; }

th, td {
    padding: 15px;
    text-align: left;
}

.div--tbl {
    /* Vertikaler Scroll-Balken falls Tabelle zu breit */
    overflow-x: auto;
}

.tbl--header { background-color: #f5f5f5; }


/* View.css */
.tbl--infos {
    transition: max-height 0.5s;
    overflow: hidden;
    max-height: 0;
}

.a--elem {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 16ch;
}

.a--elem:visited {
    color: green;
}


/* New.css */
button {
    display: inline-block;
    border-radius: 4px;
    background-color: lightgray;
    border: none;
    color: black;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span::after {
    content: '\00bb'; /* Weiter-Unicode-Symbol */
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button[id=btn--edit] span::after {
    content: '\270D'; /* Edit-Unicode-Symbol */
}

button:hover span { padding-right: 15px; }

button:hover span::after {
    opacity: 1;
    right: 0;
}
